@using MyMVCProject.Core.Domain.Enums
@model MyMVCProject.Models.UserModel.UserResponse

@{
    ViewData["Title"] = "DeleteUser";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>User delete</title>
    <link rel="stylesheet" href="~/css/Register.css">
    <link rel="stylesheet" href="~/css/Create.css">
</head>
<body>
    <div class="container-outer">
        <div class="container">
            @if (TempData["ErrorMessage"] != null)
            {
                <p class="alert">@TempData["ErrorMessage"]</p>
            }
            <div class="reg">
                <h2>Delete User</h2>
            </div>
            <form class="wrapper" method="post" enctype="multipart/form-data">

                <div class="form-control">
                    <label>First Name</label>
                    <input class="input" type="text" name="Name" value="@Model.FullName" readonly>
                </div>
                <div class="form-control">
                    <label> Email</label>
                    <input class="input" type="text" name="Email" value="@Model.Email" readonly>
                </div>
                <div class="form-control">
                    <label> Age</label>
                    <input class="input" type="text" name="Age" value="@Model.Age" readonly>
                </div>
                <div class="form-control">
                    <label>Gender</label>
                    <input class="input" type="text" name="Gender" value="@Model.Gender" readonly>
                </div>
                <div class="form-control">
                    <label>Role</label>
                    <input class="input" type="text" name="Role" value="@Model.RoleName" readonly>
                </div>
                <div class="form-control">
                    <label>Phone Number</label>
                    <input class="input" type="text" name="PhoneNumber" value="@Model.PhoneNumber" readonly>
                </div>
                <div class="form-control">
                    <input class="submit" type="submit" value="Delete">
                    <input class="submit" type="submit" value="Return" asp-action="GoBack">
                </div>
            </form>
        </div>

    </div>
</body>
</html>

